<!-- Load Directive Navbar -->
<navbar></navbar>

<div class="container top-margin">
	<div class="jumbotron">
		<h2>عن الموسوعة:</h2>
		<p>
			<ul>
				<li>أهمية الموسوعة العلمية لنادي خبرا ء المال تكمن في اعتبارها رافد أساسي يدعم ما يقدمه النادي من خدمات تعليمية وخدمية وتدريبية يتحقق من خلالها الهدف الإستراتيجي للنادي باعتباره بيت خبرة عربي عالمي في مجال التدريب والاستشارات المالية قادر على تقديم خدمات مالية متكاملة يمكن من خلالها تكوين جيل شبابي ريادي عربي له قدرة على قيادة العملية الاستثمارية بشكل دقيق وسليم.	</li>
				<li> تتضمن خطوات العمل تقسيم كتب الموسوعة ضمن مراحل محددة؛ كل مرحلة تتكون من خمسة كتب؛ بحيث يتم العمل على كل كتاب على حدة من خلال مراحل معينة تبدأ بقراءة الكتاب قراءة علمية للوقوف على مادته بالحذف والتعديل، ثم إضافة مادة علمية جديدة تخدم الهدف الأساسي للكتاب موضوع البحث . وتنتهي هذه المراحل بصياغة مادة الكتاب صياغة علمية ولغوية لتقديمها للقارئ بشكل سلس وواضح دون لبس أو غموض وبعدها يتم مراجعة الكتاب مراجعة لغوية وتصميمه وطباعته.</li>
				<li> وتتضمن مصادر الموسوعة العلمية لنادي خبراء المالكتب ودورات وأوراق عمل ورسومات وإحصاءات واردة عن مؤسسات خدمية  واقتصادية متخصصة، وبالتالي سيكون علينا تصنيف هذه المعلومات وترتيبها وحذف المكرر منها.</li>
				<li> لكل خطوة من خطوات هذا العمل مدة زمنية تتراوح حسب طبيعة المرحلة علمًا بأن مرحلة جمع المعلومات لها أكبر  قدر من الزمن. بعد ذلك نقسم المدة المحددة سلفًا على الخطوات المتبقية وهي مراحل الترتيب وإعادة الهيكلة والإضافة.</li>
				<li> مرحلة هيكلة المادة العلمية هي المرحلة الأكثر تركيزًا،  وذلك لضمان صحة المادة المضافة وتوافقها مع مادة الكتاب.</li>
			</ul>
		</p>
	</div>
</div>