<div class="container">
	<div class="row top-margin">
		<div class="col-md-4 col-md-pull-4 col-md-push-4 well">
			<form id="loginForm" name="loginForm" ng-submit="login(dataLogin)">
				<div class="form-group">
					<label for="email">البريد الإلكترونى</label>
					<input type="email" 
						   class="form-control" 
						   id="email" 
						   placeholder="البريد الإلكترونى"
						   ng-model="dataLogin.email">
				</div>
				<div class="form-group">
					<label for="password">الرقم السرى</label>
					<input type="password" 
						   class="form-control" 
						   id="password1" 
						   placeholder="الرقم السرى"
						   ng-model="dataLogin.password">
				</div>
				<button type="submit" class="btn btn-success">دخول</button>
			</form>		
		</div>
	</div>
</div>