<!-- Load Directive Navbar -->
<navbar></navbar>


<div class="container">
<h3 class="page-header">تعديل بيانات الموظف</h3>
	
<form name="editForm" ng-submit="updateUser()">
<div class="form-group">
<label>الأسم بااكمل</label>
<input type="text" class="form-control" ng-model="user.name" required />
</div>
<div class="form-group">
<label>البريد الألكترونى</label>
<input type="email" class="form-control" ng-model="user.email" required />
</div> 
<div class="form-group">
<label>الرقم السرى</label>
<input type="password" class="form-control" ng-model="user.password" />
</div>
<div class="form-group">
	<label>الصلاحيات</label>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
				مجموعة أولى
				<input type="radio" ng-required="!user.permission" ng-model="user.permission" value="1" class="pull-left">	
				</div>
				<div class="panel-body">
				<ul>
					<li>إضافة أقسام والتعامل معها</li>
					<li>إضافة كتب والتعامل معها</li>
					<li>إضافة موظفين والتعامل معهم</li>
					<li>إرسال تاسك</li>
					<li>التعامل مع تاسك</li>
					<li>إغلاق تاسك نهائى</li>
				</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
				مجموعة ثانية
				<input type="radio" ng-required="!user.permission" ng-model="user.permission" value="2" class="pull-left">	
				</div>
				<div class="panel-body">
				<ul>
					<li>إضافة أقسام والتعامل معها</li>
					<li>إضافة كتب والتعامل معها</li>
					<li><del>إضافة موظفين والتعامل معهم</del></li>
					<li>إرسال تاسك</li>
					<li>التعامل مع تاسك</li>
					<li><del>إغلاق تاسك نهائى</del></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
				مجموعة ثالثة
				<input type="radio" ng-required="!user.permission" ng-model="user.permission" value="3" class="pull-left">	
				</div>
				<div class="panel-body">
				<ul>
					<li><del>إضافة أقسام والتعامل معها</del></li>
					<li><del>إضافة كتب والتعامل معها</del></li>
					<li><del>إضافة موظفين والتعامل معهم</del></li>
					<li><del>إرسال تاسك</del></li>
					<li>التعامل مع تاسك</li>
					<li><del>إغلاق تاسك نهائى</del></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<button ng-disabled="editForm.$invalid" class="btn btn-primary">تعديل</button>        
</form>
<div id="show_result"></div>

</div>